@import '../../theme/theme.scss';
// table row
.transaction-history__table__row {
  display: flex;
  background-color: $blockTransactionHistoryBackground;
  &:nth-child(2n + 1) {
    background-color: darken($blockTransactionHistoryBackground, 10%);
  }
}
// table col
.transaction-history__table__col {
  display: flex;
  flex: 1;
  padding: 8px;
  color: $textColor;
  font-family: $themeFontFamily;
}

// Col 1
.transaction-history__token__amount {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: flex-end;
}

.transaction-history__token__symbol {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.transaction-history__token__amount__title {
  display: flex;
}

.transaction-history__token__amount__value {
  color: $textColor;
  margin-right: 4px;
}

.transaction-history__token__amount__symbol {
  color: $symbolsColor;
}

// Col 2

.transaction-history__value {
  display: flex;
  color: $textColor;
}

.transaction-history__value__currency__sign {
  margin-right: 4px;
  color: $symbolsColor;
}

.transaction-history__value__label {
  color: $textColor;
}
// Col 3

.transaction-history__datetime__title {
  display: flex;
}

.transaction-history__date__value {
  color: $textColor;
  margin-right: 4px;
}

.transaction-history__time__value {
  color: $textColor;
}
