$themeFontFamily: Arial, Helvetica, sans-serif;
$textFontSize: 16px;
$headingFontSize: 22px;

$blockTransactionHistoryBackground: purple;
$textColor: yellow;
$symbolsColor: lightsteelblue;

$headerHeight: 66px;
$heightTableHeader: 52px;
$blockHorizontalPadding: 16px;

$borderColor: lighten($blockTransactionHistoryBackground, 30%);
$baseBorder: 1px solid $borderColor;

$triangleBorderSize: 10px;
$greenBorderColor: rgb(34, 219, 157);
$redBorderColor: rgb(255, 100, 109);

$disabledButtonTextColor: rgb(200, 200, 200);
