$blockTransactionHistoryBackground: purple;
$textColor: yellow;
$symbolsColor: lightsteelblue;

// Block
.transaction-history {
  font-family: Arial, Helvetica, sans-serif;
  background: $blockTransactionHistoryBackground;
  position: relative;
  overflow: scroll;
  height: 100%;
}

// table
.transaction-history__table__body {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.fade-in {
  animation: fadeinanimation 1s forwards;
}

@keyframes fadeinanimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-out {
  animation: slideoutanimation 1s forwards;
}

@keyframes slideoutanimation {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.transaction-history__table__item {
  display: flex;
  &:nth-child(2n + 1) {
    background-color: darken($blockTransactionHistoryBackground, 10%);
  }
}

.transaction-history__table__col {
  display: flex;
  flex: 1;
  padding: 8px;
}

// Col 1
.transaction-history__token__amount {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: flex-end;
}

.transaction-history__token__symbol {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.transaction-history__token__amount__title {
  display: flex;
}

.transaction-history__token__amount__value {
  color: $textColor;
  margin-right: 4px;
}

.transaction-history__token__amount__symbol {
  color: $symbolsColor;
}

// Col 2

.transaction-history__value {
  display: flex;
  color: $textColor;
}

.transaction-history__value__currency__sign {
  margin-right: 4px;
  color: $symbolsColor;
}

.transaction-history__value__label {
  color: $textColor;
}
// Col 3

.transaction-history__datetime__title {
  display: flex;
}

.transaction-history__date__value {
  color: $textColor;
  margin-right: 4px;
}

.transaction-history__time__value {
  color: $textColor;
}
