// table
.transaction-history__table__body {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.fade-in {
  animation: fadeinanimation 1s forwards;
}

@keyframes fadeinanimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-out {
  animation: slideoutanimation 1s forwards;
}

@keyframes slideoutanimation {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
